<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/shopping-cart}">
Your Cart
</a>

<table border="1">
  <tr>
    <td>Name</td>
    <td>Price</td>
    <td>Add To Cart</td>
  </tr>

  <tr th:each="product : ${products}">
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td>
      <a th:href="@{/add/__${product.id}__(action='list')}">Add To Cart</a>
    </td>
  </tr>

</table>

</body>
</html>