<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</head>
<body>
<div align=" center">
    <form class="form-control" th:action="@{/blog/create}" method="post" th:object="${blogForm}"
          enctype="multipart/form-data">
        <table>
            <tr>
                <td></td>
                <td><input class="form-control" type="hidden" th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input class="form-control" type="text" th:field="*{auThor}"></td>

            </tr>
            <tr>
                <td>Title</td>
                <td><input class="form-control" type="text" th:field="*{title}"></td>

            </tr>
            <tr>
                <td>Content</td>
                <td>
                    <textarea minlength="50" class="form-control" th:field="*{content}"></textarea>
                </td>

            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select class="form-select" th:field="*{category_id}">
                        <option class="form-select" th:each="c : ${categories}" th:value="${c.id}"
                                th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>File Img</td>
                <td><input type="file" th:field="*{img}"></td>

            </tr>
            <tr>
                <td></td>
                <td><input class="btn btn-primary" type="submit" value="Save"></td>
            </tr>

        </table>
    </form>
</div>


</body>
</html>