<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/student/create}" th:object="${student}">
  <div>
      <label>Name</label>
      <input type="text" th:field="*{name}">

  </div>
    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}">

    </div>
    <select th:field="*{codegymClass}">
        <option th:each="class : ${CodegymClass}" th:value="${class.id}" th:text="${class.name}"></option>
    </select>
    <input type="submit" value="Save">
</form>

</body>
</html>