<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h3><a th:href="@{/customer}">Back to my list</a> </h3>
<fieldset>
  <legend>Delete Customer</legend>
  <form method="post" th:action="@{/customer/delete}" th:object="${customer}">
    <input type="hidden" th:field="*{id}"  >
    <div>
      <label>First Name</label>
      <input type="text" th:field="*{firstName}" readonly>
    </div>
    <div>
      <label>Last Name</label>
      <input type="text" th:field="*{lastName}" readonly>
    </div>
<!--    <div>-->
<!--      <label>Province</label>-->
<!--      <input type="text" th:field="*{province}" th:value="${customer.province.name}"  readonly>-->
<!--    </div>-->

    <br>
    <input type="submit" value="Delete">


  </form>
</fieldset>

</body>
</html>