<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${message}"></h3>
<a th:href="@{/customer/create}">
  Create New Customer
</a>
<div align="center">
  <h3>List Customer</h3>
  <table border="1">
    <tr>
      <th>STT</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Edit</th>
      <th>Delete</th>


    </tr>
    <tr th:each="customer, loop: ${customers}">
      <td th:text="${loop.count}"></td>
      <td th:text="${customer.firstName}"></td>
      <td th:text="${customer.lastName}"></td>
      <td><a th:href="@{/customer/{id}/edit(id=${customer.id})}">Edit</a> </td>
      <td><a th:href="@{/customer/{id}/delete(id=${customer.id})}">Delete</a> </td>


    </tr>
  </table>

</div>

</body>
</html>