<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<a th:href="@{/product}">
    back to my list
</a>
<div align="center">
    <fieldset>
        <legend>Customer</legend>
        <table>
            <tr>
                <th>Id : </th>
                <td th:text="${product.id}"></td>
            </tr>
            <tr>
                <th>Name : </th>
                <td th:text="${product.name}"></td>
            </tr>
            <tr>
                <th>Price : </th>
                <td th:text="${product.price}"></td>
            </tr>
            <tr>
                <th>Description : </th>
                <td th:text="${product.description}"></td>
            </tr>
            <tr>
                <th>Manufacture : </th>
                <td th:text="${product.manufacture}"></td>
            </tr>


        </table>
    </fieldset>

</div>

<footer th:replace="/layout :: footer"></footer>

</body>
</html>